* {
    outline: none !important;
}

.page-layout {
    min-height: 600px;
}

.ui-panelgrid > * > tr,
.ui-panelgrid > * > tr > td {
    border: none !important;
}

.no-border {
    border: none;
}

.no-padding {
    padding: 0 !important;
}

.no-padding .ui-panel-content.ui-widget-content {
    padding: 0 !important;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}